<li [ngClass]="{'list-group-item': true,
'list-group-item-success': post.loveIts >= 0,
'list-group-item-danger': post.loveIts < 0}">
    <div class="row-title row">
        <span class="title-post">
            {{ post.title }}
        </span>
        <span class="pull-right">
            {{ post.created_at | date: 'dd MMMM yyyy hh:MM' }}
        </span>
    </div>
    <div class="row">
        <span>
            {{ post.content }}
        </span>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" (click)="onLike(post)">J'aime</button>
        <button type="button" class="btn btn-danger" (click)="onDislike(post)">J'aime pas</button>
        <button type="button" class="btn btn-danger pull-right" (click)="onDelete(post)">Supprimer</button>
    </div>
</li>